<nav class="nav">

    <h1 class=""> <a routerLink="">E-Comm</a></h1>

    @if (menuType==="default") {
    <div class="nav-search">
        <input type="text" placeholder="Search" />
        <button>Search</button>
    </div>
    }

    @switch (menuType) {
        @case ('default') {
          <ul>
            <li><a routerLink="/seller-auth">Seller</a></li>
            <li><a routerLink="/">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Cart(0)</a></li>
          </ul>
        }
        @case ('seller') {
          <ul>
            <li><a routerLink="seller-add-product">Add Product</a></li>
            <li><a routerLink="seller-product-list">List</a></li>
            <li><a (click)="logout()">Logout</a></li>
            <li><a>{{ sellerName | titlecase }}</a></li>
          </ul>
        }
      }
      


</nav>